<form action="/">
  <label for="name">User name:</label>
  <input type="text" name="name" id="name" value="Input user name">
  <input type="submit" value="Get RSS">
</form>

<h3>About:</h3>
<p class="about">
This site generates RSS links for <a href="https://getpocket.com/">Pocket(Read It Later)</a>.
Original RSS sometimes does not contain titles and contents.
Generated RSS links contain those.
For Japanese users, generated RSS avoids "文字化け".</p>

<h3>Remark:</h3>
<p class="setting">
You need to make your feeds of Read It Later "public".<br>
This page is UNOFFICIAL.
</p>
