<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta http-equiv='content' content='text/html; charset=utf-8'>
  <meta name='description' content='Read It Later RSS Feed with Titles and Contents'>
  <meta name='keywords' content='Read It Later, RSS, 日本語, 文字化け'>
  <meta http-equiv="Content-Style-Type" content="text/css">
  <link rel="stylesheet" href="/css/main.css" type="text/css" media="all">
  <meta http-equiv="Content-Script-Type" content="text/javascript">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
  <title>Read It Later RSS</title>
</head>
<body>
  <div class="content">
    <div class="main">
      <h1>Read It Later RSS</h1>
      <%= yield %>
    </div>
  </div>
</body>
</html>
