<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta http-equiv='content' content='text/html; charset=utf-8'>
  <meta name='description' content='Read It Later RSS Feed with Titles and Contents'>
  <link rel="stylesheet" href="/css/main.css" type="text/css" media="all">
  <title>Read It Later RSS</title>
</head>
<body>
  <div class="content">
    <div class="main">
      <h1>Read It Later RSS</h1>
      <%= yield %>
    </div>
  </div>
</body>
</html>
