<h2>for <%= h @name %></h2>
<ul>
  <li><a href="/<%= h @name %>/unread">Unread RSS</a></li>
  <li><a href="/<%= h @name %>/read">Read RSS</a></li>
  <!--li><a href="/<%= h @name %>/d">Digest RSS</a></li-->
</ul>
